.header {
  display: grid;
  grid-template-columns: repeat(100 1%);
  grid-template-rows: repeat(10 10%);
  height: 80px;
  width: 100%;
  background-color: #3b5998;
}
#button1 {
  grid-column-start: 61;
  grid-column-end: 80;
  grid-row-start: 6;
  grid-row-end: 8;
}
/* .header < img {
    grid-column: 5 / span 5;
    grid-row: 2 / span 3;
  } */
#fb {
  grid-column-start: 25;
  grid-column-end: 35;
  padding-top: 25px;
}
#form1 {
  grid-column-start: 61;
  grid-column-end: 62;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-top: 10px;
  font-family: sans-serif;
  color: white;
  font-size: 12px;
}
#form2 {
  grid-column-start: 71;
  grid-column-end: 72;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-top: 10px;
  font-family: sans-serif;
  color: white;
  font-size: 12px;
}
#form2 > p {
  color: lightblue;
  margin-bottom: 0px;
  padding-top: 0px;
}
#form2 > p {
  margin-bottom: 0px;
  padding-top: 2px;
  margin-top: 0px;
}

#submit1 {
  grid-column-start: 81;
  grid-column-end: 90;
  grid-row-start: 5;
  grid-row-end: 7;
}
