* {
  font-family: sans-serif;
}
/* body {
  display: grid;
  grid-template-columns: repeat(10, 100px);
  grid-template-rows: 85px;
  margin: 0px;

  background-color: #edf0f5;
} */
body {
  display: flex;
  flex-direction: row;
  margin: 0px;

  background-color: #edf0f5;
}
.header {
  grid-columns: 1 / end;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #3b5998;
  position: fixed;
  height: 85px;
}

#button1 {
  grid-column-start: 2;
  grid-column-end: end;
  grid-row-start: 6;
  grid-row-end: 8;
}
#fb {
  padding-top: 28px;
  padding-left: 226px;
  width: 173px;
  height: 38px;
  padding-right: 430px;
}
#form1 {
  grid-column-start: 40;
  grid-column-end: 42;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-top: 14px;
  font-family: sans-serif;
  color: white;
  font-size: 12px;
  padding-right: 10px;
  width: 150px;
}
#form2 {
  grid-column-start: 42;
  grid-column-end: 43;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-top: 13px;
  font-family: sans-serif;
  color: white;
  font-size: 12px;
  width: 150px;
  padding-right: 10px;
}
#form2 > p {
  color: #9cb4d8;
  margin-bottom: 0px;
  padding-top: 2px;
  margin-top: 0px;
  font-size: 12px;
  width: 150px;
  margin: 0px;
}
/* #pass > p {
    padding-bottom: 1px;
  } */
#form1 > p {
  margin-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
}
#form1 > input {
  margin-top: 5px;
  padding-bottom: 6px;
  width: 148px;
  height: 23px;
  border-color: black;
  border: 1px solid black;
}
#form2 > input {
  margin-top: 5px;
  padding-bottom: 5px;
  width: 150px;
  height: 23px;
  border-color: black;
  border: 1px solid black;
  padding-top: 2px;
}

#submit1 {
  padding-top: 35px;
  grid-column-start: 44;
  grid-column-end: 45;
  grid-row-start: 1;
  grid-row-end: 3;
}

#submit1 > input {
  width: 50px;
  height: 20px;
  color: white;
  background-color: #4364a8;
  font-weight: bold;
  border-color: #223760;
  border-radius: 1px;
  font-size: 12px;
  padding: 1px;
}
#space {
  grid-column-start: 53;
  grid-column-end: 54;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-right: 50px;
}
.bodyx {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
}
.ad {
  margin-left: 226px;
  margin-top: 80px;
  width: 500px;
  height: 57px;
}
.ad h2 {
  margin-top: 70px;
  font-size: 26px;
  font-weight: 300;
}
.ad p {
  display: inline;
  font-size: 16px;
  width: 500px;
  color: #858789;
}
.ad b {
  color: black;
}
#intro2,
#intro3,
#intro4 {
  display: flex;
  justify-content: center;
}
#intro2 img,
#intro3 img,
#intro4 img {
  margin-right: 10px;
  margin-bottom: 20px;
}
.form3 {
  margin-left: 90px;
  margin-top: 100px;
  width: 400px;
}
.form3 > h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}
#signup {
  font-size: 35px;
  font-weight: 400;
}
#free {
  margin-top: 0px;
  font-size: 18px;
}
#namebox {
  width: 193px;
  height: 40px;
  border-radius: 3px;
  border: 2px solid lightgray;
  font-size: 18px;
  color: lightgray;
  padding-right: 5px;
}
#mailbox {
  margin-top: 10px;
  width: 394px;
  height: 40px;
  border-radius: 3px;
  border: 2px solid lightgray;
  font-size: 18px;
}
#bday {
  margin-bottom: 5px;
}
#whybday {
  font-size: 11px;
  float: right;
  margin-right: 80px;
  margin-bottom: 13px;
  margin-top: 0px;
  color: #496293;
}
#leday {
  width: 60px;
  height: 30px;
}
#lemonth {
  width: 45px;
  height: 30px;
}
#leyear {
  width: 60px;
  height: 30px;
}
.ale {
  margin-top: 16px;
  margin-right: 12px;
}
#terms {
  font-size: 12px;
  color: #999b98;
}
.blue {
  color: #4569b2;
}
.signs {
  width: 190px;
  height: 37px;
  background-color: #669f51;
  font-size: 20px;
  color: white;
  border-radius: 3px;
  border: 1px solid green;
  margin-bottom: 10px;
}

#lastone {
  font-size: 14px;
}
#aline hr {
  color: gray;
}
