* {
  font-family: sans-serif;
}

body {
  margin: 0px;
}
.container {
  height: 665px;
  width: 100%;
  display: flex;
  flex-direction: column;

  background-color: #edf0f5;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #3b5998;
  /* position: fixed; */
  height: 90px;
}

#fb {
  padding-top: 28px;
  padding-left: 226px;
  width: 173px;
  height: 38px;
  padding-right: 430px;
}
#form1 {
  padding-top: 14px;
  font-family: sans-serif;
  color: white;
  font-size: 12px;
  padding-right: 10px;
  width: 150px;
}
#form2 {
  padding-top: 13px;
  font-family: sans-serif;
  color: white;
  font-size: 12px;
  width: 150px;
  padding-right: 10px;
}
#form2 > p {
  color: #9cb4d8;
  margin-bottom: 0px;
  padding-top: 2px;
  margin-top: 0px;
  font-size: 12px;
  width: 150px;
  margin: 0px;
}
#form1 > p {
  margin-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
}
#form1 > input {
  margin-top: 5px;
  padding-bottom: 6px;
  width: 148px;
  height: 23px;
  border-color: black;
  border: 1px solid black;
}
#form2 > input {
  margin-top: 5px;
  padding-bottom: 5px;
  width: 150px;
  height: 23px;
  border-color: black;
  border: 1px solid black;
  padding-top: 2px;
}

#submit1 {
  padding-top: 35px;
}

#submit1 > input {
  width: 50px;
  height: 20px;
  color: white;
  background-color: #4364a8;
  font-weight: bold;
  border-color: #223760;
  border-radius: 1px;
  font-size: 12px;
  padding: 1px;
}
#space {
  grid-column-start: 53;
  grid-column-end: 54;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-right: 50px;
}
.bodyx {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 650px;
}
.ad {
  margin-left: 226px;
  margin-top: 70px;
  width: 500px;
  height: 57px;
}
.ad h2 {
  margin: 0px;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
}
.ad p {
  display: inline;
  font-size: 16px;
  width: 500px;
  color: #858789;
}
.ad b {
  color: black;
}
#intro2,
#intro3,
#intro4 {
  display: flex;
  justify-content: center;
}
#intro2 img,
#intro3 img,
#intro4 img {
  margin-right: 10px;
  margin-bottom: 20px;
}
.form3 {
  margin-left: 90px;
  margin-top: 25px;
  width: 400px;
}
.form3 > h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.form3 > input {
  padding-left: 7px;
}
#signup {
  font-size: 35px;
  font-weight: 400;
}
#free {
  margin-top: 0px;
  font-size: 18px;
}
#namebox {
  width: 193px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid lightgray;
  font-size: 18px;
  color: lightgray;
  padding-right: 5px;
}

#mailbox {
  margin-top: 10px;
  width: 390px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid lightgray;
  font-size: 18px;
}
#bday {
  margin-bottom: 5px;
}
#whybday {
  font-size: 11px;
  float: right;
  margin-right: 80px;
  margin-bottom: 13px;
  margin-top: 0px;
  color: #496293;
}
#leday {
  width: 60px;
  height: 30px;
}
#lemonth {
  width: 45px;
  height: 30px;
}
#leyear {
  width: 60px;
  height: 30px;
}
.ale {
  margin-top: 16px;
  margin-right: 12px;
}
#terms {
  font-size: 12px;
  color: #999b98;
}
.blue {
  color: #4569b2;
}
.signs {
  width: 190px;
  height: 37px;
  background-color: #669f51;
  font-size: 20px;
  color: white;
  border-radius: 3px;
  border: 1px solid green;
  margin-bottom: 10px;
}
.signs:hover {
  background-color: #70ad58;
}

#lastone {
  font-size: 14px;
}
#aline hr {
  color: gray;
}
.footer {
  width: 100%;
  margin-top: 0px;
  height: 190px;
}
.languages {
  width: 100%;
  height: 25px;
}
.languages > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 12px;
  margin-top: 47px;
  margin-left: 228px;
  padding-left: 0px;
  width: auto;
}
#grayitem {
  margin-right: 14px;
  color: gray;
}
#lanitem {
  margin-right: 14px;
  color: #4466aa;
}
#lanitem:hover {
  text-decoration: underline;
}
#dabutton > input {
  width: 30px;
  height: 20px;
  font-size: 40px;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}

.alotofstuff > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 12px;
  margin-bottom: 6px;
  margin-top: 6px;
  margin-left: 228px;
  padding-left: 0px;
}

.items {
  margin-right: 23px;
  color: #4466aa;
}
.items:hover {
  text-decoration: underline;
}
#daline {
  width: 980px;
  height: 3px;
  padding-left: 225px;
  margin: 0px;
}
#daline hr {
  margin: 0px;
  margin-top: 4px;
}
#lastfb {
  font-size: 11px;
  margin-left: 227px;
  color: gray;
  margin-top: 25px;
}
